<div *ngIf="fornecedor" class="content-card">
  <div class="header-container">
    <a routerLink="/fornecedores" class="back-link">&larr; Voltar para a lista</a>
    <h2>Detalhes do Fornecedor</h2>
  </div>

  <div class="details-grid">
    <div class="detail-item">
      <strong>Nome</strong>
      <p>{{ fornecedor.nome }}</p>
    </div>
    <div class="detail-item">
      <strong>Email</strong>
      <p>{{ fornecedor.email || 'Não informado' }}</p>
    </div>
    <div class="detail-item">
      <strong>CNPJ / CPF</strong>
      <p>{{ fornecedor.documento | mask: '00.000.000/0000-00 || 000.000.000-00' || 'Não informado' }}</p>
    </div>
    <div class="detail-item">
      <strong>Telefone</strong>
      <p>{{ fornecedor.telefone | mask: '(00) 0000-0000||(00) 00000-0000' || 'Não informado' }}</p>
    </div>
    <div *ngIf="fornecedor.observacoes" class="detail-item full-width">
      <strong>Observações</strong>
      <p>{{ fornecedor.observacoes }}</p>
    </div>
  </div>
</div>